:root {
  --rs-orange: #e7553c;
  --rs-gray: #4d4d4d;
  --rs-yellow: #fdbe4c;
  --rs-blue: #4d8dca;
}

#title-slide .title {
  visibility: hidden;
}

#wtf-aita h3, #resumes h3, #cover-letters h3, 
#portfolios h3, #cover-accessories h3 {
  text-align: center;
  font-size: 2.8em;
  color: var(--rs-gray);
}
