#title-slide .title {
  color: #000000;
}

#title-slide .subtitle {
  color: #000;
  position: fixed;
  bottom: 100;
  right: 1;
}

.wtf-aita h3 {
  text-align: center;
  font-size: 2.8em;
  color: #ffffff;
}
